html,
body {
  background-color: #666666;
  font-family: "indie Flower", cursive;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.post-it {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.yellow,
.green,
.purple {
  width: 200px;
  height: 200px;

  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.yellow {
  background: linear-gradient(
    rgb(250, 251, 201) 0%,
    rgba(238, 238, 177) 75%,
    rgb(189, 189, 163) 93%
  );
  transform: rotate(-6deg);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}
.green {
  background: linear-gradient(
    rgb(204, 255, 204) 0%,
    rgb(184, 219, 184) 75%,
    rgb(146 180 146) 93%
  );

  transform: rotate(15deg);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}
.purple {
  background: linear-gradient(
    rgb(204, 204, 255) 0%,
    rgb(176, 176, 204) 75%,
    rgb(147 147 186) 93%
  );
  transform: rotate(-8deg);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}
.rotate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.rotate :hover {
  transform: scaleX(1.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}
